.body * {
    font-family: 'Roboto', sans-serif;
  }
  .body {
    width: 1336px;
    height: 783px;
    margin: 0 auto;
    background: no-repeat url(images/background.png);
    background-size: cover;
  }
  .theme1 {
    background: no-repeat url(images/bg.jpg);
  }
  .wrapper {
    width: 1023px;
    margin: 0 auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    margin-bottom: 22px;
  }
  .logo-link {
    text-decoration: none;
    color: #fff;
  }
  .logo-link:hover {
    color: #F26522;
  }
  .theme1 .logo-link:hover {
    color: rgb(11, 119, 219);
  }
  .logo-link:hover path {
    fill: #F26522;
  }
  .theme1 .logo-link:hover path{
    fill: rgb(11, 119, 219);
  }
  .logo-milan {
    padding-right: 8px;
  }
  .logo-text-container {
    display: inline-block;
  }
  .logo-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
  }
  .theme-btn {
    user-select: none;
    margin-left: 55px;
    padding: 10px;
    border: 5px solid rgb(6, 80, 150);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: rgb(30, 138, 238);
  }
  .theme-btn:hover {
    user-select: none;
    cursor: pointer;
    border: 5px solid rgb(12, 100, 182);
    color: rgb(67, 157, 241);
  }
  .theme1 .theme-btn {
    user-select: none;
    margin-left: 55px;
    padding: 10px;
    border: 5px solid rgb(177, 180, 5);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: rgb(210, 245, 12);
  }
  .theme1 .theme-btn:hover {
    user-select: none;
    border: 5px solid rgb(248, 204, 8);
    color: rgb(242, 253, 84);
  }
  .strong {
    font-weight: 700;
    font-size: 29px;
  }
  .contacts {
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }
  .contacts-text {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
  }
  .contacts-text:hover {
    color: #F26522;
  }
  .theme1 .contacts-text:hover {
    color: rgb(11, 119, 219);
  }
  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 54px;
    row-gap: 37px;
    justify-content: center;
    margin-bottom: 49px;
  }
  .img-container {
    display: block;
    text-decoration: none;
    color: #fff;
    width: 300px;
  }
  .img-container:hover {
    color: #F26522;
    cursor: pointer;
  }
  .theme1 .img-container {
    color: rgb(213, 225, 243);
  }
  .theme1 .img-container:hover {
    color: white;
  }
  
  
  .sliding-text-container {
    display: block;
  }
  
  .sliding {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .theme1 .sliding {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .img {
    width: inherit;
    height: 220px;
  }
  .sliding-text-container {
    position: absolute;
    top: 100%;
    transform: translateY(0);
    overflow: hidden;
    left: 0;
    width: inherit;
    background: #F26522;
    color: #fff;
    transition: transform linear 300ms;
    padding: 7px 0 12px 0;
  } 
  .theme1 .sliding-text-container {
    background: rgb(11, 119, 219);
  }

  
  .img-container:hover .sliding-text-container {
    transform: translateY(-100%);
  }
  .sliding-text {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 8px;
    padding-left: 16px;
    line-height: 14px;
  }
  .price-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px 0 16px;
  }
  .price {
    font-size: 20px;
  }
  .details {
    font-size: 14px;
    position: relative;
    padding-right: 16px;
    line-height: 14px;
  }
  .details:after {
    content: '';
    width: 10px;
    height: 15px;
    display: block;
    position: absolute;
    background:  no-repeat url(images/Vector\ 1.svg);
    top: 11.7%;
    left: 100%;
  }
  .visible-text-container {
    display: block;
    padding-top: 20px;
    text-align: center;
  }
  .visible-text {
    font-size: 18px;
    font-weight: 400;
  }
  .footer {
    margin-bottom: 15px;
  }
  .footer-text {
    color: white;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }
  .btn:hover {
      color: white;
    background-color: gray;
  }